$background-color: #f3f3ee
$text-color-dark: rgba(black, .6)
$text-color-light: rgba(white, .75)
$text-color: $text-color-dark
$primary-color: #aed581

$font-family-sans: Lato, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif
$font-family-serif: 'Euphoria Script', 'Segoe UI', 'Helvetica Neue', sans-serif
$line-height: 1.5
